prefer-no-csd
screenshot-path null

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORM "wayland"
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_TYPE "wayland"
}

cursor {
  xcursor-theme "Bibata-Modern-Classic"
  xcursor-size 20
}

debug {
  honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
  skip-at-startup
}
clipboard {
    disable-primary
}
