window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
  draw-border-with-background false
  background-effect {
    xray true
  }
}

blur {
  passes 3
  offset 3
  noise 0.01
}

  // if you use steam you will probably like these
window-rule {
  match app-id="steam"
  exclude title=r#"^[Ss]team$"#
  open-floating true
}

// zen
window-rule {
  match app-id="zen"
  open-maximized true
}
window-rule {
  match app-id=r#"zen"# title="Картинка в картинке"
  open-floating true
}

// window-rule {
//
//     popups {
//         geometry-corner-radius 16
//         opacity 0.5
//
//         background-effect {
//             blur true
//         }
//     }
// }

window-rule {
  match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  default-floating-position x=10 y=10 relative-to="bottom-right"
  open-focused false
}
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
