include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/input.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/layout.kdl"
include "./cfg/misc.kdl"
include "./cfg/output.kdl"
include "./cfg/rules.kdl"

//themes
include "./themes/transparent.kdl"

//noctalia
include "./noctalia.kdl"
